/**Нормализация блочної моделі*/
*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --grid-line-color: rgba(90, 90, 90, 0.13);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Consolas, "Courier New", monospace;
    background-color: #1e1e1e;
    /* Темний фон, як у VS Code */
    color: #d4d4d4;
    /* Світло-сірий текст */
}

#AppContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subcontainer {
    background-color: #252526;
    border: 1px solid #3c3c3c;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 6px, rgba(0, 0, 0, 0.33) 0px 3px 6px;
}
/* region Header */
.graph_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#header img {
    filter: brightness(0) invert(1);
    /* З чорного в білий */
}

#header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #252526;
    /* Темно-сірий колір панелі, як у VS Code */
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid #3c3c3c;
    gap: 20px;
    /* Лінія поділу */
}

/* Назва застосунку */
#appName {
    font-size: 14px;
    color: #d4d4d4;
    font-weight: bold;
}

/* Контейнер для кнопок у хедері */
#headerControls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#headerControls button,
#headerControls input[type="file"] {
    background-color: #3c3c3c;
    /* Кнопки у стилі VS Code */
    border: none;
    color: #d4d4d4;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#headerControls button:hover {
    background-color: #505050;
}

#headerControls button:active {
    background-color: #606060;
}

#headerControls input[type="file"] {
    padding: 5px;
    cursor: pointer;
}

#headerControls label {
    background-color: #3c3c3c;
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    color: #d4d4d4;
    display: flex;
    align-items: center;
    gap: 5px;
}

#headerControls label:hover {
    background-color: #505050;
}

#headerControls label:active {
    background-color: #606060;
}

/* endregion */

/* region Основні стилі панелей та елементів */
#controls {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#controls button {
    background-color: #3c3c3c;
    border: none;
    color: #d4d4d4;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
    font-family: Consolas, "Courier New", monospace;
    transition: background-color 0.2s;
}

#controls button:hover {
    background-color: #505050;
}

#controls button:active {
    background-color: #606060;
}

#controls button img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* Робоча зона графа */
#cy {
    width: 800px;
    height: 600px;
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    /* background-color: #252526;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* Забезпечує позиціонування над canvas */
    z-index: 1; /* Гарантує, що граф буде над сіткою */
}


/* Інформаційна панель */
#info {
    margin-top: 20px;
    width: 800px;
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    font-size: 14px;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #d4d4d4;
}

/* region Стилі для графічних елементів cytoscape */
#editor {
    margin-top: 10px;
    position: relative;
    /* Щоб можна було позиціонувати zoomDisplay відносно editor */
    width: 800px;
    /* Ширина так само як #cy */
    height: 600px;
    /* Висота так само як #cy */
}

/* endregion */

/* region Адаптивність */
@media (max-width: 900px) {
    #cy, #info {
        width: 90%;
    }
}

@media (max-width: 600px) {
    #cy {
        height: 400px;
    }

    button {
        font-size: 12px;
    }

    #info {
        font-size: 12px;
    }
}

/* endregion */

/* Відображення масштабу */
#zoomDisplay {
    position: absolute;
    top: 0px;
    /* Відступ згори */
    right: 0px;
    /* Відступ справа */
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    border-radius: 0px 0px 0px 5px;
    font-size: 14px;
    z-index: 1000;
}

/* Вводи для шляху */
#pathInputs {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

#pathInputs input {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #2d2d2d;
    color: #d4d4d4;
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    font-family: Consolas, "Courier New", monospace;
    flex: 1;
}

#pathInputs input:focus {
    outline: none;
    border-color: #505050;
}

#pathInputs button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #3c3c3c;
    color: #d4d4d4;
    border: none;
    cursor: pointer;
    font-family: Consolas, "Courier New", monospace;
}

#pathInputs button:hover {
    background-color: #505050;
}

#pathInputs button:active {
    background-color: #606060;
}

/* endregion */

#gridControls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#gridControls label {
    color: #d4d4d4;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#gridControls input[type="checkbox"] {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#gridCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Щоб сітка не перешкоджала взаємодії з графом */
    width: 100%; /* Повна ширина контейнера */
    height: 100%; /* Повна висота контейнера */
    z-index: 0; /* Встановлює сітку позаду графа */
}

#gridSizeInput {
    padding: 2px;
    direction: none;
    background-color: transparent;
    border: none;
    width: 44px;
    color: #cccccc;
    font-weight: bolder;
    font-size: large;
}

#gridSizeInput, input[type="number"]:focus {
    outline: none;
    /* Забезпечує відсутність обводки під час фокусу */
}

/* Завжди видимі стрілки */
#gridSizeInput, input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    /* Робить стрілки завжди видимими */
}

/* Оверлей на всю сторінку */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.9);
    /* напівпрозорий темний фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* поверх усього контенту */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Коли додаємо клас "active" до #overlay, показуємо його */
#overlay.active {
    opacity: 1;
    visibility: visible;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стилі спінера */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.spinner {
    width: 200px;
    height: 200px;
    animation: rotation 0.95s linear infinite;
}

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 20;
    stroke-linecap: round;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

/* Текст під спінером */
.loader-text {
    text-align: center;
    font-family: Consolas, "Courier New", monospace;
    color: #ffffff;
}

.loader-text .title {
    font-size: 34px;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite;
}

.loader-text .subtitle {
    font-size: 26px;
    color: #cccccc;
    animation: fade 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

